<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125557249109-6sl9tjaqboi95j5r3p01ou1om3b1ufj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125557249109-6sl9tjaqboi95j5r3p01ou1om3b1ufj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCe10rVh_Wy_3OK27FRzezHAeMrHw1L6-g</string>
	<key>GCM_SENDER_ID</key>
	<string>125557249109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myDiary</string>
	<key>PROJECT_ID</key>
	<string>mydiary-ddcf6</string>
	<key>STORAGE_BUCKET</key>
	<string>mydiary-ddcf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125557249109:ios:5bc9691d8566bc2feb70dc</string>
</dict>
</plist>